<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
	<button>Hello</button>
	<script type="text/javascript">
		$(document).ready(function (){
			makeAjaxRequest({
				operation: "http://127.0.0.1:9090/@/resources",
				type: "GET"
			}, function (err, data) {
				console.log(data);
			});

			$("button").click(function () {
				makeAjaxRequest({
					operation: "http://127.0.0.1:9090/@/resources",
					type: "POST",
					data: {
						name: "Loo-K"
					}
				}, function (err, data) {
					console.log(data);
				});
			});
		});

		function makeAjaxRequest (ajaxObj, callback) {

		    $.ajax({
		        url: ajaxObj.operation,
		        type: ajaxObj.type || "GET",
		        data: ajaxObj.data || {},
		        crossDomain: true,
		        error: function(jqXHR, exception) {
		            if (jqXHR.status === 0) {
		                callback('Not connect. Verify Network.' + jqXHR.responseText);
		            } else if (jqXHR.status == 404) {
		                callback('Requested page not found. [404].' + jqXHR.responseText);
		            } else if (jqXHR.status == 500) {
		                callback('Internal Server Error [500].' + jqXHR.responseText);
		            } else if (exception === 'parsererror') {
		                callback('Requested JSON parse failed.');
		            } else if (exception === 'timeout') {
		                callback('Time out error.');
		            } else if (exception === 'abort') {
		                callback('Ajax request aborted.');
		            } else {
		                callback('Uncaught Error.\n' + jqXHR.responseText);
		            }
		        },
		        success: function (data) {

		            // response is a string, needs to be parsed
		            var data = JSON.parse(data);
		            callback(null, data);
		        }
		    });
		}
	</script>
</body>
</html>